body {
    color: #333333; /* texto y muy oscuros */
    color: #e36849; /* hovers y highlights */
    color: #f5c5d7; /* claros */
    color: #ff6fa4; /* hovers secundarios */
    color: #f3e9e2; /* fondo */
    color: #fcd7c8; /* fondo 2 */
    color: #33b4b2; /* secundarios */
    color: #137c79; /* primarios */
    
}